@media screen and (max-width: 1023.98px) {
    .main__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .asidebar {
        width: 100%;
        max-width: none;
        position: static;
    }

    .cart-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 767.98px){
    .header-search {
        display: none;
    }

    .cart-content {
        min-width: 100%;
    }

    .header-profile{
        margin-left: auto;
    }
}

@media screen and (max-width: 733.98px){
    .product-item__product-info {
        justify-content: flex-start;
        align-items: center;
    }

    .product-item__price-info{
        justify-content: flex-start;
    }

    .product-item {
        flex-direction: column;
    }

    .product-item__counter {
        flex-direction: row;
        align-items: center;
    }

    .product-item__counter-content{
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .product-item__balance{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .product-item__balance-count{
        margin: 0px 4px;
    }

    .total-info{
        margin-left: auto;
    }

    .absent-products .product-item__state-actions{
        min-width: 100%;
        margin-right: 0px;
    }

}

@media screen and (max-width: 600px){

    .delivery-return,
    .delivery-payment__time {
        border-radius: 8px;
        background: #F0ECF4;
    }

    .header-title {
        width: 100%;
        color: #FFF;
        font-family: Segoe UI;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; 
        font-variant: all-small-caps;
        letter-spacing: 0.52px;
    }

    .delivery-price {
        align-items: flex-start;
        flex-direction: column;
    }

    .delivery-variant__content-point {
        flex-direction: column;
    }

    .delivery-dates__item {
        align-items: flex-start;
        flex-direction: column;
    }

    .delivery-variant__return {
        padding: 0px 24px;
        display: flex;
    }

    .asidebar {
        box-shadow: none;
        background: var(--background-smoky, #F6F6FA);
    }

    .recipient.cart-section{
        margin-bottom: 0px;
    }

    .recipient__about-recipient{
        flex-direction: column;
        margin-bottom: 0px !important;
    }

    .recipient__about-sub {
        flex-direction: column !important;
    }

    .recipient__about-recipient .recipient-label{
        margin-bottom: 28px;
    }

    .recipient__about-sub .recepient-container:not(:last-child){
        margin-bottom: 28px;
    }
}

@media screen and (min-width: 437.98) {
    .wrapper-mobile {
        display: flex;
    }

    
}

@media screen and (max-width: 437px){

    .header-mobile{
        display: flex;
    }

    .header-profile {
        display: none;
    }
    
    .header .header-cart {
        display: none;
    }

    .header-title .text-br{
        display: none;
    }

    .nav-burger {
        display: none;
    }

    .nav-burger-mobile{
        display: flex;
        align-items: center;
        /* margin-right: 20px; */
    }

    .header{
        align-items: center;
        min-height:100%;
        justify-content: space-between ;
        padding: 0px 13px;
    }

    .header__inner{
        align-items: center;
        height: 100%;
        padding-bottom: 24px;
        justify-content: space-between;
    }

    .header-title{
        vertical-align: middle !important;
        line-height: 1.5 !important;
        margin-bottom: 0px;
        padding-bottom: 5px;
        color: #FFF;
        font-family: Segoe UI;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; 
        font-variant: all-small-caps;
        letter-spacing: 0.52px;
        width: max-content;
    }

    .search-submit-mobile{
        display: block;
        fill: white;
    }

    .delivery,
    .delivery-payment__heading {
        display: none;
    }

    .asidebar .payment-variant__content{
        display: none;
    }

    .asidebar{
       margin-bottom: 0px;
    }

    .main {
        padding: 0px;
    }

    .wrapper-mobile {
        display: flex;
        flex-direction: column;
        padding: 0px 16px;
    }

    .section-title{
        white-space: nowrap;
        color: #000;
        font-family: 'Segoe UI Bold';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; 
        letter-spacing: -0.2px;
    }

    .absent-products .product-item:not(:last-child){
        border-bottom: 1px solid rgba(0, 0, 0, 0.10) ;
        padding-bottom: 22px;
    }

    .cart-products .product-item:not(:last-child){
        border-bottom: 1px solid rgba(0, 0, 0, 0.10) ;
        padding-bottom: 22px;
    }

   .modal-payments,
   .modal-delivery{
        height: 100%;
        border-radius: 0px;
   }

   .modal-payments__button,
   .modal-delivery__button{
        width: 100%;
        padding: 0px !important;
   }

   .product-item__counter-content{
        min-width:80px;
        max-width: 80px;
        max-height: 32px;
        min-height: 32px;
        margin-right: 16px;
        border-radius: 4px;
    }

    .product-item__counter-digit{
        max-width: 32px;
    }

    .product-item__balance{
        margin: 0 auto;
    }
   
    .product-item__balance{
        margin-right: 16px;
    }

    .prodcut-item__saler{
        display: none;
    }

    .product-item__price-info{
        justify-content: space-between;
    }

    .product-item__counter{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #size,
    #size-content{
        display: none;
    }

    .mobile-size{
        position: absolute;
        left: 4px;
        bottom: 8px;
        color:  #000;
        text-align: center;
        font-family: Segoe UI;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        width: 22px;
        height: 22px;
        border-radius: 6px;
        background:  #FFF;
        padding: 0px 4px 3px 4px;
        display: flex;
        align-items: center;
    }

    .product-item__item-image{
        width: 80px;
        height: 106px;
    }

    .product-item__product-info{
        align-items: flex-start;
        margin-bottom: 12px;
    }
    
    .product-item__about{
        margin-right: 0px;
    }

    .custom-checkbox.mobile-checkbox{
        background: transparent;
        position: absolute;
        left: 4px;
        top: 4px;
    }
    
    .cart-content__label{
        position: relative;
    }

    .product-item__state-actions{
        position: absolute;
        right: 0;
    }

    .product-item__favorites-icon{
        margin-right: 24.94px;
    }

    .cart-products{
        margin-bottom: 23.5px;
    }

    .absent-products{
       margin-bottom: 34px;
    }

    .delivery-variant,
    .asidebar,
    .cart-section{
        padding: 16px;
    }
    
    .delivery-dates__item-date.delivery-variant-name{
        margin-bottom: 12px;   
    }

    .delivery-variant__return{
        padding: 0px 8px;
    }

    .recipient__about-sub .recepient-container:last-child{
        margin-bottom: 0px;
    }
 
    .recipient__about-recipient .recipient-label{
        margin-bottom: 48px;
    }

    .recipient__about-sub .recepient-container:not(:last-child){
        margin-bottom: 48px;
    }

    .asidebar-total__title,
    .asidebar-total__price{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px; 
        letter-spacing: -0.2px;
    }

    .product-item .mobile-size{
        width: max-content;
        text-overflow: ellipsis;
    }

    .accept-confidicial {
        width: 20px;
        height: 24px;
    }

    .total-info {
        display: none;
    }

    .delivery-redact__group{
        max-width: 230px;
    }
}
